*{
    margin: 0px;
}
body {
background-color: black;
}
.box1 {
    width: 400px;
    height: 600px;
padding: 60px;
}
.icon {
    margin-left: 160px;
    margin-top: 0px;
}
.title {
    margin: 20px;
    color: ghostwhite;
   font-size: 60px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text{
    margin: 20px;
    color:whitesmoke;
   font-size: 30px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
